

@media only screen and (min-width: 1000px) {
    body {
        .mb-header-img {
            display: none;
        }

    }
}

@media only screen and (min-width: 1000px) and (max-width: 1500px) {
        .contact-container {
            width: 35%;
            margin: 0 auto;
        }

}

@media only screen and (min-width: 500px) and (max-width: 1000px) {
    .contact-container {
        width: 70%;
        margin: 0 auto;
    }
}


@media only screen and (max-width: 1000px) {
    body {
        .dt-header-img {
            display: none;
        }

    }
}

@media only screen and (min-width: 1500px) and (max-width: 2000px) {
    .contact-container {
        width: 30%;
        margin: 0 auto;
    }
}

@media only screen and (min-width: 2000px) and (max-width: 3000px) {
    .contact-container {
        width: 20%;
        margin: 0 auto;
    }
}

.inquiry-header {
    font-size: 3rem;
    text-align: center;
    margin: 1rem;
    border-bottom: 1px dashed black;
    padding-bottom: 1rem;
}

h1 {
    font-size: 3rem;
    text-align: center;
    margin: 1rem;
}
