#home-title-intro {
    text-align: center;
    padding: 0 2rem;
}

.home-intro-text-and-contact {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.home-about-text {
    margin: 0;
}

.home-link-sub {
    margin: 0;
}

.home-link-text {
    margin: 1rem;
}

#home-title-intro h1 {
    font-size: 4rem;
}

#home-title-intro p {
    margin-top: 1.5rem;
    font-size: 2rem;
}

.home-intro-text {
    display: block;
    padding: 1.2rem 0;
    font-size: 2.5rem;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.home-intro-inner-span {
    font-size: 2.3rem;
}

.home-link-title {
    border: 1px solid black;
    border-radius: 4px;
    font-size: 1.3rem;
    width: fit-content;
    margin: 1rem auto;
    padding: 15px;
}

.home-link-imgs {
    height: auto;
    max-width: 100%;
}

.home-link-container {
    font-size: 1.7rem;
    text-align: center;
}

.home-link {
    text-decoration: none;
    color: black;
}

.cormorant-garamond-regular {
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  font-style: normal;
}

.birthstone-regular {
  font-family: "Birthstone", cursive;
  font-weight: 400;
  font-style: normal;
}

@media only screen and (min-width: 1000px) {
    body {
        .home-content {
            width: 60%;
            margin: 0 auto;
        }
        
        .home-main-photo-mb {
            display: none;
        }

        .home-logo-img {
            width: 60%;
        }

        .home-intro-text {
            font-size: 5rem;
        }

        .home-link-imgs {
            width: 80%;
            border-left: 1px dashed black;
            border-right: 1px dashed black;
            padding: 0 1rem;
        }

    }
}

@media only screen and (max-width: 1000px) {
    body {
        .home-main-photo-dt {
            display: none;
        }
    }
}
