@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@300&family=Ubuntu&display=swap');

body {
    margin: 0;
    font-family: 'Archivo', sans-serif;
}

#logo {
    font-family: 'Archivo', sans-serif;
}
