.port-img {
    max-width: 95%;
    margin: 3px;
}

img {
    max-width: 100%;
}

#portfolio-page {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media screen and (min-width: 1000px) {
    #portfolio-page {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .port-img {
        object-fit: cover;
        max-width: 30%;
        object-fit: cover;
        vertical-align: bottom;
    }
}
