.contact-btn {
    background: white;
    padding: 0.4rem 0.8rem;
    margin: 1.5rem;
    width: fit-content;
    font-size: 1.3rem;
    color: black;
    border: 1px solid black;
    border-radius: 4px;
}

.cormorant-garamond-regular {
    font-family: "Cormorant Garamond", serif;
    font-weight: 400;
    font-style: normal;
}
