#footer {
    margin-top: 1.5rem;
    border-top: 1px solid black;
}

#sm-icons {
    display: flex;
    justify-content: center;
    font-size: 3rem;
    padding: 1.5rem;
}

#sm-icons svg {
    padding: 1.5rem;
}

#return-top {
    margin: 1rem;
    background: none;
    float: right;
    border: none;
    font-size: 2rem;
}
