@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@300&family=Cormorant+Garamond&family=Ubuntu&display=swap');

.header-img {
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    color: pink;
}

.header-img h1 {
    text-align: center;
    font-weight: normal;
    font-size: 5rem;
    font-family: 'Cormorant Garamond', serif;
    margin: 0;
    padding: 10rem 2rem;
}

.header-img p {
    font-size: 2rem;
    text-align: center;
    padding: 0 2rem 2rem 2rem;
}


