@import url('https://fonts.googleapis.com/css2?family=Birthstone&display=swap');

#navbar {
    padding: 30px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    font-size: 2rem;
}

#path-title {
    font-family: 'Birthstone', cursive;
    margin: 0;
    font-size: 2rem;
}

#nav-text {
    text-align: left;
}

#navmenu-btn {
    padding: 0px 10px;
    font-size: 1.5rem;
    background: white;
    border: 1px;
    border-radius: 3px;
}

.hidden {
    visibility: hidden;
}
